{% extends 'base.html' %}

{% block style %}
    <style>
    h1{
        text-align: center;
    }

    .alert{
        padding: 20px;
        background-color: #f44336;
        color: white;
    }

    .success{
        text-align: center;
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        background-color: #5cd85c;
        color: white;
    }

    .clostbtn{
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .clostbtn:hover{
        color: black;
    }
    </style>
{% endblock style %}

{% block body %}
    <div class="container">
        <h1>Password generated</h1>
        <div class="alert">
            <span class="clostbtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Alert!</strong> Don't share your password to any one
        </div>

        <div class="success">
            <strong>
                {{ passwordss }}
            </strong>
        </div>

        <a role="button" href="{% url 'home' %}" class="btn waves-effect waves-light" type="submit" name="action">Home
            <i class="material-icons right">home</i>
        </a>
    </div>
{% endblock body %}